/* Body styles */
body {
    font-family: "Proza Libre";
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 55px;
  margin: -20px;
}
/* Button styles */
#backButton {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Prompt container styles */
.promptsContainer {
    font-family: "Proza Libre";
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#journalContainer {
  margin-right: 20px;
}

#promptContainer {
    padding: 20px;
    background-color: #DDC3F8;
    border-radius: 30px;
    margin: 20px;
    max-width: 300px;

}

/* Saved entries container styles */
#savedEntriesContainer {
    display: flex;
    flex-wrap: wrap; /* Ensures entries wrap to the next line when needed */
    align-items: flex-start; /* Align items to the top of the container */
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.savedEntriesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    gap: 100px; 
    justify-content: center;
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto;
}

.savedEntriesContainer .entry {
    width: calc(50% - 15px);
    margin: 10px;
}

.entry {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    overflow-wrap: break-word;
}


.entry p {
    margin: 0;
    padding: 5px 0;
}

/* Button styles */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #cfb7ca;
    margin-top: 20px;
}

button:hover {
    background-color: #d991cb;
}

#sparkle {
  position: absolute;
  margin-top: 300px;
  z-index: -1;
}

#sparkle2 {
  position: absolute;
  margin-top: -120px;
  margin-left: 1100px;
  z-index: -1;
}

.deleteEntryButton, .editEntryButton {
  display: inline-block; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #cfb7ca;
  margin-top: 20px;
  margin-right: 10px; 
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.deleteEntryButton:hover, .editEntryButton:hover {
  background-color: #d991cb; 
}

.saveEditButton {
  display: flex;
  margin-right: auto;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
}

.editable {
  max-width: 350px;
}

